.t {
	transform: translate3D(0,0,0);
	animation: tr .7s ease-in-out;
	transition: opacity .3s ease-in-out;
	opacity: 0.7;
}
@keyframes tr{
	0%{
		opacity: 0
	}
	100%{
		opacity: 0.8
	}

}
.popup{
	border: 1px solid #aaa;
	border-radius: 3px;
	background-color: #f0f0f0;
	padding: 15px;
	animation: pop .7s;
	animation-timing-function: cubic-bezier(.71, .55, .62, 1.57);
	transform: translate3D(0,0,0);
	transition: transform .3s ease-in-out;
	box-shadow: 0px 0px 50px 20px #bbb;
}
@keyframes pop{
	0%{
		transform: scale(0.1)
	}
	100%{
		transform: scale(1)
	}
}